Repository appKom/ravioli, pull requests merged in 2024-11, with the labels that each got.

#210 Fredda Jul
  frontend/public/jul/fredrik.png
  frontend/src/components/pages/ChristmasPage.tsx
Labels: enhancement, frontend

#211 Side for blast av "nach på kontoret"
  frontend/public/podcast/ig-logo.svg
  frontend/public/podcast/nach på kontoret 2.png
  frontend/public/podcast/qr-code.svg
  frontend/src/components/pages/MainPage.tsx
  frontend/src/components/pages/PodcastPage.tsx
  frontend/tailwind.config.js
Labels: enhancement, frontend

#191 Added mountains in background to christmas page
  frontend/public/christmas/mountains.svg
  frontend/src/components/pages/ChristmasPage.tsx
Labels: styling, frontend

#155 Akkumulere snø
  frontend/public/christmas/hill.svg
  frontend/src/components/SnowPile.tsx
  frontend/src/components/header/Header.tsx
  frontend/src/components/pages/ChristmasPage.tsx
Labels: enhancement, frontend

#220 Bigger christmas countdown
  frontend/src/components/pages/ChristmasPage.tsx
Labels: styling

#221 Filtering out events that has already ended
  frontend/src/components/pages/EventsPage.tsx
Labels: bug, frontend
