Repository appKom/ravioli, pull requests merged in 2024-10, with the labels that each got.

#143 Added "sorting algortihms visualized" video
  src/components/pages/VideoPage.tsx
Labels: enhancement

#124 Slack-reaksjoner for memes
  package-lock.json
  package.json
  src/components/LatestMemes.tsx
  src/components/SlackReaction.tsx
  src/components/cards/MemeCard.tsx
  src/components/pages/SlackPage.tsx
Labels: enhancement

#146 Cristmas page
  package-lock.json
  package.json
  public/qr-codes/nisse-green.svg
  public/qr-codes/nisse-white.svg
  src/App.tsx
  src/components/pages/ChristmasPage.tsx
Labels: enhancement

#149 148 ow updated event endpoint
  package-lock.json
  src/api/eventsApi.ts
  src/api/owApi.ts
  src/components/Logo/OnlineLogo.tsx
  src/components/cards/BaseCard.tsx
  src/components/cards/EventCard.tsx
  src/components/pages/EventsPage.tsx
  src/lib/event.ts
  src/lib/types.ts
Labels: bug, api

#154 Background illustration on christmas page
  package-lock.json
  package.json
  src/components/pages/ChristmasPage.tsx
Labels: styling

#150 Update readme and renamed env variable
  .env.template
  README.md
  src/api/blastsApi.ts
  src/api/memesApi.ts
Labels: documentation, refactoring

#153 Toggle darkmode manually
  src/components/header/Header.tsx
  src/components/utils/DarkModeProvider.tsx
Labels: development

#151 Changed the way slack messages are displayed
  src/components/LatestBlasts.tsx
  src/components/cards/BlastCard.tsx
  src/components/cards/MemeCard.tsx
  src/lib/date.ts
  src/lib/text.ts
Labels: styling

#158 157 side for blasting av online appen
  package-lock.json
  package.json
  public/online-app/download-app-store.svg
  public/online-app/download-google-play.svg
  public/online-app/iphone-1.png
  public/online-app/iphone-2.png
  public/online-app/iphone-3.png
  public/qr-codes/online-app-white.svg
  src/App.tsx
  src/components/pages/AppRedirect.tsx
  src/components/pages/MainPage.tsx
  src/components/pages/OnlineAppBlastPage.tsx
  tailwind.config.js
Labels: enhancement

#167 Turn channel links text into actual channel name
  backend/src/text.ts
Labels: enhancement, backend

#172 Fix indent quote stuff on slack messages
  frontend/src/lib/text.ts
Labels: bug, styling, frontend

#176 Added channel name in badge
  backend/src/media.ts
  frontend/src/components/Badge.tsx
  frontend/src/components/cards/BlastCard.tsx
  frontend/src/components/cards/EventCard.tsx
  frontend/src/components/cards/MemeCard.tsx
  frontend/src/lib/types.ts
Labels: enhancement, styling, backend, frontend

#189 Fjerner juleside utenfor sesong
  frontend/src/components/pages/MainPage.tsx
Labels: ready for review, frontend

#195 Added skelton loaders to slack page
  frontend/src/components/LatestBlasts.tsx
  frontend/src/components/LatestMemes.tsx
  frontend/src/components/skeletons/BlastCardSkeleton.tsx
  frontend/src/components/skeletons/MemeCardSkeleton.tsx
Labels: frontend

#190 Bruke Debug-logo
  frontend/src/components/Logo/DebugLogo.tsx
  frontend/src/components/header/DebugQR.tsx
Labels: good first issue, ready for review, frontend

#197 Added navigation with arrow keys
  frontend/src/components/pages/MainPage.tsx
Labels: development, frontend

#193 Added Vercel Analytics
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.tsx
Labels: frontend

#194 Using DOMPurify instead of using self-made function to sanitize
  frontend/package-lock.json
  frontend/package.json
  frontend/src/lib/text.ts
Labels: bug, frontend

#205 Fix bedpres typo
  frontend/src/components/Badge.tsx
  frontend/src/components/cards/EventCard.tsx
  frontend/src/lib/types.ts
Labels: bug, frontend
