Repository appKom/ravioli, pull requests merged in 2025-02, with the labels that each got.

#244 Filter out rows with same text
  backend/index.ts
Labels: backend

#246 Hide cursor
  README.md
  frontend/.env.template
  frontend/src/components/pages/MainPage.tsx
Labels: bug, frontend

#247 Optimize seed script
  backend/src/client.ts
  backend/src/comments.ts
  backend/src/media.ts
  backend/src/types.ts
Labels: backend

#250 Holy ravioli
  frontend/public/ravioli/ravioli.png
  frontend/src/components/pages/MainPage.tsx
  frontend/src/components/pages/RavioliPage.tsx
  frontend/src/index.css
  frontend/tailwind.config.js
Labels: enhancement, frontend

#253 Possible to specify of only image or video in query
  backend/index.ts
Labels: backend

#254 Lazy loaded video component
  frontend/src/components/VideoComponent.tsx
  frontend/src/components/cards/MemeCard.tsx
  frontend/src/lib/useIsVisible.tsx
Labels: bug, frontend
