Repository appKom/ravioli, pull requests merged in 2025-01, with the labels that each got.

#232 Add frontend support for video memes
  backend/index.ts
  frontend/src/components/LatestMemes.tsx
  frontend/src/components/cards/MemeCard.tsx
  frontend/src/components/pages/MovemberPage.tsx
Labels: bug, enhancement, frontend

#233 Add cronjob as Serverless Function
  backend/.env.template
  backend/src/cronJob.ts
  backend/vercel.json
Labels: backend

#238 237 Migrate from azure to supabase
  backend/index.ts
  backend/package-lock.json
  backend/package.json
  backend/src/azureClients.ts
  backend/src/comments.ts
  backend/src/media.ts
  backend/src/supabaseClient.ts
  frontend/src/components/pages/MainPage.tsx
Labels: backend

#241 Added cron endpoint, and changed schedule
  backend/index.ts
  backend/vercel.json
  frontend/src/components/pages/MainPage.tsx
Labels: backend

#235 Added #utveksling and #kontoret
  backend/src/channelsConfig.ts
Labels: backend

#242 Change duration and priority of Kunnskapkom
  frontend/src/components/pages/MainPage.tsx
Labels: frontend

#245 Reduce priority of napkom
  frontend/src/components/pages/MainPage.tsx
Labels: frontend, suggestion
